# Závislosti a build výstupy
node_modules
dist
.site
*-export*
*.pdf
*.pptx

# Nástroje a cache
.vite-cache
.vite-inspect
.remote-assets
.codegraph
components.d.ts

# Slidev generuje tyto soubory v jednotlivých přednáškách během buildu
slides/**/node_modules/
slides/**/components/
slides/**/setup/
slides/**/global_bottom.vue

# Projekt používá pnpm-lock.yaml
yarn.lock
package-lock.json

# Lokální a systémové
*.local
.DS_Store
